html, body{
    margin: 0;
    height: 100%;
    background-color: #D4F1F4
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@font-face {
    font-family: Josefa;
    src: url(../fonts/JosefinSlab-VariableFont_wght.ttf);
}
.body{
    font-family: Josefa, sans-serif;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5vh;
}
a{
    text-decoration: none;
    color: white;
}
.battler{
    text-align: center;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5vh;
}
.header{
    background-color: #05445E;
    width: 100%;
    text-align: center;
    color: white;
}
.instruction{
    text-align: center;
    font-size: 2vh;
}
h2{
    font-size: 3.2vh;
}
.choices{
    display: flex;
    gap: 2vw;
}
.rps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.battleground{
    display: flex;
    width: 60vh;
    height: 20vh;
    justify-content: center;
    border: #189AB4;
    border-width: 5px;
    border-style: dashed;
    border-radius: 5vh;
    background-color: #05445E;;
    align-items: center;
    overflow: hidden;
}
.status{
    height: 15vh;
    width: auto;
    padding: 2.5vh;
    transition-delay: 0.5s ease-in;
}
#imgPlayer, #imgComputer{
    visibility: hidden;
} 
.footer{
    padding: 10px 10px 10px 10px;
    width: 100%;
    text-align: center;
    background-color: #189AB4;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.img{
    height: 9vh;
    width: auto;
}
.scores{
    padding: 0;
    display: flex;
    gap: 7vw;
    justify-content: center;
}
.scores p{
    font-size: 3vh;
}
p{
    padding: 0px;
    margin: 0px;
}
button{
    padding: 2.5vh;
    border-radius: 20px;
    border-style: dotted;
    border-color:#189AB4;
    box-shadow:4px 6px #05445E;
    background-color: #75E6DA;
    transition: all 50ms ease-in-out;
}
button:hover{
    background-color: #52a39b;
    box-shadow:10px 15px #05445E;
    cursor:pointer;    
}
button:active{
    transform: scale(0.9);
}

.content{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}



