html, body{
    margin: 0;
    height: 100%;
    background-color: #D4F1F4
} 
@font-face {
    font-family: Josefa;
    src: url(./fonts/JosefinSlab-VariableFont_wght.ttf);
}
.body{
    font-family: Josefa, sans-serif;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    margin: 20px;
}
.battler{
    text-align: center;
}

.header{
    background-color: #05445E;
    width: 100%;
    text-align: center;
    color: white;
}
.instruction{
    text-align: center;
    font-size: 20px;
}
h2{
    font-size: 32px;
}
.choices{
    display: flex;
    gap: 24px;
}
.rps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.battleground{
    display: flex;
    width: 500px;
    height: 170px;
    justify-content: center;
    border: #189AB4;
    border-width: 5px;
    border-style: dashed;
    margin-bottom: 24px;
    border-radius: 50px;
    background-color: #05445E;;
    align-items: cen;
}
.status{
    height: 120px;
    weight: 120px;
    padding: 20px;
    transition-delay: 0.5s ease-in;
}
#imgPlayer, #imgComputer{
    visibility: hidden;
} 
.footer{
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    text-align: center;
    background-color: #189AB4;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.img{
    height: 70px;
    width: 70px;
    padding: 10px;
}
.scores{
    padding: 0;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.scores p{
    font-size: 32px;
}
p{
    padding: 0px;
    margin: 0px;
}
button{
    padding: 20px;
    border-radius: 20px;
    border-style: dotted;
    border-color:#189AB4;
    box-shadow:5px 10px #05445E;
    background-color: #75E6DA;
    transition: all 50ms ease-in-out;
}
button:hover{
    background-color: #52a39b;
    cursor:pointer;    
}
button:active{
    transform: scale(0.8);
    box-shadow: 4px 4px #05445E;;
}

/*  */
