html, body{
    margin: 0;
    height: 100%;
    background-color: #D4F1F4
} 
@font-face {
    font-family: Josefa;
    src: url(./fonts/JosefinSlab-VariableFont_wght.ttf);
}
.body{
    font-family: Josefa, sans-serif;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header{
}
.instruction{
    text-align: center;
}
.choices{
    display: flex;
    gap: 24px;
}
.rps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer{
    text-align: center;
}
.img{
    height: 200px;
    width: 200px; x
    padding: 20px;
}
button{
    padding: 20px;
    border-radius: 20px;
    border-style: dotted;
    border-color:#189AB4;
    box-shadow:5px 10px #05445E;
    background-color: #75E6DA;
    transition: all 50ms ease-in-out;
}
button:hover{
    background-color: #52a39b;
    cursor:pointer;    
}
button:active{
    transform: scale(0.8);
    box-shadow: 4px 4px #05445E;;
}

/*  */
